.boton {
  border: none;
  cursor: pointer;
  width: 32px; 
  height: 32px; 
  border-radius: 5px; 
  background-position: center;
  background-size: cover;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #8d470d; /* Cambia el color de fondo a rojo cuando se pasa el cursor sobre el botón */
}

.boton-modificar {
  background: url('/src/images/edit.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.boton-eliminar {
  background: url('/src/images/delete.png') no-repeat;
  background-position: center;
  background-size: cover;
}
