.tabla-datos {
  overflow-x: hidden;
  overflow-y: hidden;
}

.tabla-datos tbody td {
  position: relative;
}

.boton-contenedor {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%; /* Ajusta esto según el alto de tu fila */
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
}

.tabla-datos tbody .boton-celda {
  width: 32px; /* Ajusta este valor según el tamaño de tus botones */
  border: none;
  position: relative; /* Para contener los botones */
}
