body {
    margin: 0;
    padding: 0;
    font-family: Cambria;
  }
  
  .barra-lateral {
    width: 250px;
    height: calc(100vh - 40px); 
    background-color: #266763; 
    position: fixed;
    left: 20px; 
    top: 20px; 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px; 
  }
  
  .logo {
    width: 50px;
    position: absolute;
    top: 10px; 
    left: 10px; 
  }
  
  .encabezado-barra-lateral {
    text-align: center;
    margin-bottom: 20px;
    color: #FFF; 
  }
  
  .encabezado-barra-lateral i {
    margin-right: 20px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px; 
    margin-bottom: 20px; 
  }
  
  .menu li {
    margin-bottom: 20px; 
    position: relative; 
  }
  
  .menu li:nth-last-child(3) {
    margin-bottom: 180px; /* Separación adicional entre el antepenúltimo elemento y el penúltimo */
  }
  
  .menu li:nth-last-child(2) {
    margin-bottom: 20px; /* Separación adicional entre el penúltimo elemento y el último */
  }
  
  .menu li:last-child {
    margin-top: 20px; /* Separación adicional entre el último elemento y el siguiente contenido */
  }
  .menu li a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s; 
  }
  
  .menu li a i {
    margin-right: 20px;
  }
  
  .icono {
      width: 25px;
      height: 25px; 
  }
  
  .texto-opcion {
      margin-left: 5px; 
  }
  
  .menu li::after {
    content: ''; 
    position: absolute; 
    bottom: -5px;
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: transparent; 
    transition: background-color 0.3s; 
  }
  
  .menu li:hover::after {
    background-color: #C3FA7B; 
  }
  
  .menu li:hover a {
    color: #C3FA7B; 
  }
  